extends layout

block content
  h1 Szlongload
  p Max. upload size -> 100MB
  label(for="file-form") SELECT YOUR FILE
    form(action="/file", method="post" enctype="multipart/form-data", id="file-form")
      input(type="password", name="pass", placeholder="Passphrase", required)
      input(type="file", name="userfile", required)
      br
      button(type="submit") Upload
